/node_modules
/bower_components
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/metronic_v4.5.6
/storage/app/uploads/
/storage/app/public/
/resources/views/
app/Http/Controllers/Backend